* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Palatino Linotype", Georgia, serif;
    background-color: #262427;
    color: #e1b102;
    margin: 2rem;
}

.hero {
    text-align: center;
    padding: 5rem 2rem;
}

.hero-image {
    display: block;
    max-width: 100%;
    width: 75%;
    height: 66vh;
    object-fit: cover;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #e1b102;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 3rem;
    color: #e1b102;
}

.hero-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.hero-nav a {
    text-decoration: none;
    color: #f2e6d9;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.hero-nav a:hover {
    color: #e60073;
}