body{
    font-family: "Palatino Linotype", Georgia, serif;
    background-color: #262427;
    color: #e1b102;
    margin: 2rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262427;
    padding: 1.2rem 2rem;
    border-bottom: 1px solid #333;
}

.page-header .logo{
    color: #e60073;
    font-size: 2rem;
    margin: 0;
}

.page-header nav u1 {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.page-header nav a {
    text-decoration: none;
    color: #f2e6d9;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.page-header nav a:hover {
    color: #e60073;
}

.main-content {
    text-align: center;
    margin-top: 5rem;
}

.main-content h2 {
    font-size: 2.5rem;
    color: #e60073;
}

.main-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
}